@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Gothic A1', sans-serif;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

.size {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}

/* 헤더 */

header {
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	height: 60px;
	box-shadow: 0 0 20px  rgba(0,0,0,.2);
}
header > .size{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header #header_menu > li{
	float: left;
	margin: 0 12px;
}

/* page_container */
#page_container {
	margin-top : 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.page_item {
	width: 50%;
	height: 250px;
	position: relative;
}

.page_item > a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.page_item:nth-child(1) {
	background-color: rgb(253, 125, 125);
}
.page_item:nth-child(2) {
	background-color: rgb(245, 178, 116);	
}
.page_item:nth-child(3) {
	background-color: rgb(243, 245, 116);	
}
.page_item:nth-child(4) {
	background-color: rgb(178, 245, 116);	
}
.page_item:nth-child(5) {
	background-color: rgb(116, 236, 245);	
}

/* game-container */

#game_container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 50px;
}
.game_item {
	width: 320px;
	height: 150px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	margin: 20px;
	border-radius: 20px;
	transition: .3s;
	position: relative;
	overflow: hidden;
}
.game_item:hover {
	transform: scale(1.05);
}
.game_item_pic {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.game_item_pic > img {
	width: 100%;
}
.game_item_name {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,.3),rgba(0,0,0,.7), rgba(0,0,0,8), rgba(0,0,0,1));
	bottom: 0;
	left: 0;
}
.game_item_name > p {
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 32px;
}
.game_item > a {
	position: absolute;
	width: 100%;
	height: 100%;
}